<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}" />

    {% if (function('is_search')) %}
        <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    <title>{{wp_title}}</title>
    <meta name="title" content="{{ wp_title }}" />

    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ css('main.css') }}" media="all" />
    <!--<![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>
        <link rel="stylesheet" href="{{ css('oldie.css') }}" media="all" />
    <![endif]-->

    {% if (function('is_singular')) %}
        {{ function('wp_enqueue_script', 'comment-reply') }}
    {% endif %}

    {{ function('wp_head') }}

    {% block head %}{% endblock %}
</head>

<body {% block theme %}{{ function('body_class', '' | body_class) }}{% endblock %} data-source="base.twig">

    {% block header %}
        <header class="page-head group js-page-head" role="banner">
            {% block header_content %}
                <div class="page-head__wrap">
                    <button class="btn-nav js-btn-nav">
                        <div class="btn-nav__icon"></div>
                    </button>

                    <div class="site-logo">
                        <a href="{{ site.link }}" class="u-inline-block icon-missbolt-logo" style="width: 118.94px; height: 123.145px;" aria-label="homepage" title="homepage"></a>
                    </div>

                    <nav class="main-nav js-main-nav" role="navigation">
                        <ul class="nav bare-list">
                            {% for item in menu_main.items %}
                                <li id="menu-item-{{item.ID}}" class="{{item.classes | join(' ')}}">
                                    <a href="{{item.link}}">{{item.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endblock %}
        </header>
    {% endblock %}

    {% block hero %}{% endblock %}

    {% block main %}
        <main role="main" class="page-content text--center u-block-center">
            {% block content %}
                <h1 class="post-title">{{ post.title }}</h1>
                {{ post.content }}
            {% endblock %}

            {% block after_body_content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <footer class="page-foot text--center">
            <b>&copy;{{ "now"|date('Y') }}</b>
        </footer>
    {% endblock %}

    {{ function('wp_footer') }}
    {{ live_reload }}

</body>
</html>